@import 'https://fonts.googleapis.com/css?family=Sora:300,400,600,700';
@import 'vendor/font_awesome';


body {
    font-family: Sora;
    font-size: 16px;
    font-weight: 300;
}

.post-content {
    font-size: 16px;
}