#site-content .wp-block-latest-posts__list {
    margin: 0;

    li {
        border: 1px solid #eee;
        // box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        overflow: hidden;

        .wp-block-latest-posts__featured-image {
            a {
                width: 100%;

                img {
                    height: 200px;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        .wp-block-latest-posts__post-author,
        .wp-block-latest-posts__post-date {
            display: none;
        }

        > a {
            font-weight: bold;
        }

        > a,
        .wp-block-latest-posts__post-author,
        .wp-block-latest-posts__post-date,
        .wp-block-latest-posts__post-excerpt {
            padding: 0 15px;
            box-decoration-break: clone;
        }
    }
}
